* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "MyCustomFont";
    src: url('../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'part-font';
    src: url('../assets/fonts/DM_Sans/static/DMSans-Medium.ttf') format('truetype');
    font-display: swap;
}

.search-error {
    width: min(90%, 600px);
    margin: 45px auto 0;
    color: white;
    font-family: 'part-font', sans-serif;
    font-size: 20px;
    text-align: center;
}

.api-error-div {
    width: min(700px, calc(100% - 32px));
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    text-align: center;
}

.api-error-img {
    width: 34px;
}

.api-error-h2 {
    color: white;
    font-family: 'MyCustomFont', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.api-error-message {
    width: min(600px, 100%);
    color: hsl(240, 15%, 88%);
    text-align: center;
    font-family: 'part-font', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.retry-btn {
    background: hsl(243, 27%, 20%);
    border: none;
    padding: 11px 20px;
    text-align: center;
    gap: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.retry-icon {
    width: 20px;
    height: 20px;
}

.retry-wrd {
    color: hsl(240, 15%, 88%);
    font-family: 'part-font', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 560px) {
    .api-error-div {
        width: calc(100% - 32px);
        margin-top: 65px;
        gap: 15px;
    }

    .api-error-img {
        width: 30px;
    }

    .api-error-h2 {
        font-size: 25px;
    }

    .api-error-message {
        width: 100%;
        font-size: 16px;
    }

    .retry-btn {
        padding: 10px 18px;
    }
}
